body{
    background: rgb(241, 170, 112);
    width: 100%;
    height: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    max-width: 80%;
    max-height: 80%;
    width: 500px;
    height: 350px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px 40px 10px;
    background-color: rgb(238, 220, 187);
    box-shadow: 5px 20px 5px rgb(233, 140, 64);
}

.galeria{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img:hover{
    transform: scale(1.2);
    background-color: rgb(241, 197, 160) ;
}

.imagem{
    display: block;
}